.checkboxes {
  position: absolute;
  background-color: var(--checkbox);
  color: var(--textColor);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  top: 2rem;
  right: 0;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  span:first-child {
    background-color: var(--checkboxes);
    border: 1px solid var(--checkboxes);
  }
  span {
    font-weight: 600;
    font-size: 0.85rem;
  }
}
